body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./daytime.jpg);
    background-size:cover;
    background-position: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.monday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.tuesday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.wednesday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.thursday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.friday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.saturday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

.sunday-box {
    width: 100px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 5px black;
    text-align: center;
    padding: 20px;
}

